/*nav bar*/
ul.topnav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #1b2538;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: white;
}

ul.topnav li a:hover:not(.active) {
  background-color: #a9bce2;
}

.active {
  background-color: #da3c41;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 480px) {
  ul.topnav li.right, ul.topnav li {
    float: none;
  }
}

/*ボタン*/
.button {
  display: inline-block;
  /* border-radius: 0%;
  角丸       */
  font-size: 28pt;
  /* 文字サイズ */
  text-align: center;
  /* 文字位置   */
  cursor: pointer;
  /* カーソル   */
  padding: 10px 10px;
  /* 余白       */
  background: black;
  /* 背景色     */
  color: #ffffff;
  /* 文字色     */
  line-height: 1em;
  /* 1行の高さ  */
  transition: .3s;
  /* なめらか変化 */
  border: 10px solid black;
  /* 枠の指定 */

}

.button:hover {
  box-shadow: none;
  /* カーソル時の影消去 */
  color: black;
  /* 背景色     */
  background: #ffffff;
  /* 文字色     */
}

.center{
  text-align:center;
  padding:200px 10px;
}
.centerwelcome{
  text-align: center;
}
